.nav-items {
  list-style: none;
  display: flex;
  //  justify-content: space-between;
  font-size: 18px;
  align-content: stretch;
}

.nav-item{
  display: block;
  height: 50px;
  padding: 30px 10px;
  margin-left: 10px;
  transition: all .3s;
  border: 3px solid transparent;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
  }
}

.nav-item:hover{
  border: 3px solid #3C3C3C;
}